*{
    font-family: poppins, sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    Width:595px;
    Height:500px;
    margin-left: 125px;
    display: inline-block;
}

header{
    margin: 44px 0 144px 76px;
}

.link-header{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #068035;
        cursor: pointer;
        margin-left: 23px;
}

button{
              background: #33c958;
              border-radius: 15px;
              width: 130px;
              height: 41px;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #FFFFFF;
}

section{
        display: inline-block;
        margin-left: 86px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color:#161A49;
    width: 582px;
    filter: 0.6px;
    height: 164px;
    top: 342px;
    left: 801px

}

p{
   width: 515px;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #4B505A;
 
}
.p-1{

    color: #33c958;

}